openapi: 3.1.1

info:
  title: Specialisterne Environment API
  description: |
    API for Specialisterne Environment
    The Web API specified here is used for educational purposes.
  version: 1.0.0

servers:
  - url: https://climate.spac.dk/api
    description: production server for the students to use
  - url: http://localhost:8080/api
    description: local server for development

security:
  - defaultApiKey: [ ]

components:
  securitySchemes:
    defaultApiKey:
      type: apiKey
      name: access_key
      in: header
  schemas:
    RecordResponse:
      title: Record response
      summary: Response containing a single record
      type: object
      additionalProperties: false
      properties:
        record:
          $ref: '#/components/schemas/Record'
      required: [record]
      example: {"record":{"id":"7e9b1a33-05fb-48e3-86b6-21ddc873c06f","timestamp":"2026-02-27T09:32:45Z","reading":{"DS18B20":{"device_name":"0000003e33d5","raw_reading":22123}}}}
    RecordsResponse:
      title: Records response
      summary: Response containing a list of records
      type: object
      additionalProperties: false
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/Record'
      required: [records]
      example: {"records":[{"id":"7e9b1a33-05fb-48e3-86b6-21ddc873c06f","timestamp":"2026-02-27T09:32:45Z","reading":{"BME280":{"temperature":21.5,"pressure":100000.0,"humidity":45.0}}},{"id":"3f6c6e2b-6d85-4d6e-9d33-8bf0b8d5c1a0","timestamp":"2026-02-27T09:35:12Z","reading":{"DS18B20":{"device_name":"0000003e33d5","raw_reading":22375}}}]}
    AddRecordResponse:
      title: Add record response
      summary: Response returned when a record is successfully stored
      type: object
      properties:
        message:
          description: A message indicating the success of the operation
          type: string
        record_id:
          description: the unique id of the added record
          type: string
          format: uuid
      required: [message, record_id]
      additionalProperties: false
    Record:
      title: Record
      summary: a measurement with a timestamp and a unique id
      description:
        In our terminology a record is a measurement with a timestamp and a unique id.
        A measurement is a reading from a sensing instrument. The type of a records reading
        depends on the type of instrument used to perform the measurement.
      type: object
      properties:
        id:
          title: Record ID
          description: a unique identifier for the record
          type: string
          format: uuid
        timestamp:
          title: Measurement capture timestamp
          description: the timestamp of the record
          type: string
          format: date-time
        reading:
          title: Sensor output
          description: the actual reading data from the sensing instrument
          $ref: '#/components/schemas/Reading'
      required: [id, timestamp, reading]
      additionalProperties: false
    Reading:
      title: Reading (externally tagged union)
      summary: a reading from a sensing instrument
      description: |
        Data read from a sensing instrument.

        Wire format is an externally tagged union (exactly one of):
          - { "BME280": { ... } }
          - { "DS18B20": { ... } }
      examples:
        - BME280:
            temperature: 21.5
            pressure: 100000.0
            humidity: 45.0
        - DS18B20:
            device_name: '0000003e33d5'
            raw_reading: 22123
      oneOf:
        - $ref: '#/components/schemas/BME280Wrapper'
        - $ref: '#/components/schemas/DS18B20Wrapper'
    BME280Wrapper:
      title: BME280 wrapper (externally tagged variant)
      summary: Wrapper around a BME280 sensor reading
      type: object
      additionalProperties: false
      properties:
        BME280:
          $ref: '#/components/schemas/BME280'
      required: [BME280]
    BME280:
      title: BME280 sensor reading
      summary: a BME280 sensor reading
      description:
        a reading from a Bosch BME280 environment sensor.
        If reads temperature, humidity and pressure sensor.
        For a datasheet see [BME280](https://www.bosch-sensortec.com/products/environmental-sensors/humidity-sensors-bme280/).
      type: object
      additionalProperties: false
      properties:
        temperature:
          summary: the temperature reading from the sensor.
          description:
            the temperature reading from the sensor.
            The temperature is reported in degrees Celsius.
          type: number
          format: float
        pressure:
          summary: the pressure reading from the sensor
          description:
            the pressure reading from the sensor.
            The pressure is reported in Pascals (Pa).
          type: number
          format: float
        humidity:
          summary: the humidity reading from the sensor
          description: |
            The relative humidity reading from the sensor.
            
            Relative humidity is represented in percent (%RH), expressed on a 0..100 scale.

            Example: `45.0` means 45% relative humidity.
            (Not a fraction: do not send `0.45` to mean 45%.)
          type: number
          format: float
          minimum: 0
          maximum: 100
          example: 45.0
      required: [temperature, pressure, humidity]
    DS18B20Wrapper:
      title: DS18B20 wrapper (externally tagged variant)
      summary: Wrapper around a DS18B20 sensor reading
      type: object
      additionalProperties: false
      properties:
        DS18B20:
          $ref: '#/components/schemas/DS18B20'
      required: [DS18B20]
    DS18B20:
      title: DS18B20 sensor reading
      summary: a DS18B20 sensor reading
      description:
        a reading from a DS18B20 temperature sensor;
        for a datasheet see [DS18B20](https://www.analog.com/en/products/ds18b20.html)
      type: object
      additionalProperties: false
      properties:
        device_name:
          summary: the name of the device
          description:
            the unique name of the device.
            The device name is included, as it is reported by the instrument, and it is unique for each individual DS18B20.
            The device name is always 12 characters long.
          type: string
          minLength: 12
          maxLength: 12
        raw_reading:
          summary: the actual reading from the sensor
          description: the actual reading form the sensor as degrees millicelcius; the value is an integer of type i32, i.e. a 32-bits signed number
          type: integer
          format: int32
      required: [device_name, raw_reading]
    GenericErrorResponseInJson:
      summary: a generic error response in JSON
      description:
        a generic error response in JSON.
        It is often used with responses with non-2xx status codes.
        It includes a descriptive message.
      type: object
      additionalProperties: false
      properties:
        message:
          description:
            a descriptive message indicating the failure of the operation
          type: string
      required: [message]
    GenericErrorResponseInPlainText:
      summary: a generic error response in plain text
      description:
        a generic error response in plain text.
        It is often used with responses with non-2xx status codes.
        It includes a descriptive message.
      type: string
  parameters:
    From:
      name: from
      description: Inclusive lower bound timestamp (ISO-8601).
      in: query
      required: false
      schema:
        type: string
        format: date-time
    To:
      name: to
      description: Exclusive upper bound timestamp (ISO-8601).
      in: query
      required: false
      schema:
        type: string
        format: date-time
    Before:
      name: before
      description: |
        Cursor: return records strictly before this timestamp.
        Used for backward pagination.
      in: query
      required: false
      schema:
        type: string
        format: date-time
    After:
      name: after
      description: |
        Cursor: return records strictly after this timestamp.
        Used for forward pagination.
      in: query
      required: false
      schema:
        type: string
        format: date-time
    Range:
      name: range
      summary: Temporal range of the returned records
      description:
        Temporal range of the returned records.
        Convenience time range relative to current time.
        Cannot be combined with `from`.
      in: query
      required: false
      schema:
        type: string
        enum: [hour, day, week, month, year]
    Limit:
      name: limit
      description: Maximum number of records to return.
      in: query
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 5000
        default: 100
    Order:
      name: order
      description: Sort order of the returned records.
      in: query
      required: false
      schema:
        type: string
        enum: [asc, desc]
        default: desc
  responses:
    BadRequest:
      title: Bad Request
      summary: 400 Bad Request
      description:
        Bad Request.
        The request body did not contain a valid record.
        See the requestBody field on this path/method combination for specification.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericErrorResponseInJson'
        text/plain:
          schema:
            $ref: '#/components/schemas/GenericErrorResponseInPlainText'
    Unauthorized:
      title: Unauthorized
      summary: 401 Unauthorized request due to missing or invalid authorization header
      description:
        Unauthorized.
        The request did not contain a authorization header.
        The response will state whether the authorization header was missing or invalid.
        HTTP Status Code 401
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericErrorResponseInJson'
        text/plain:
          schema:
            $ref: '#/components/schemas/GenericErrorResponseInPlainText'
    NotFound:
      title: Not Found
      summary: 404 Not Found
      description: Not Found. No record with the supplied id was found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericErrorResponseInJson'
    Conflict:
      title: Conflict
      summary: 409 Conflict
      description:
        Conflict.
        The request could not be completed due to a conflict with the current state of the target resource.
        The request body contained a record with an id of a record that already exists.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericErrorResponseInJson'
    UnsupportedMediaType:
      title: Unsupported Media Type
      summary: 415 Unsupported Media Type. The request body format is not supported
      description:
        Unsupported Media Type.
        The 'Content-Type' header of the was not set to a supported MIME type.
        Currently only 'application/json' is supported.
        See the requestBody field on this path/method combination for specification.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericErrorResponseInJson'
        text/plain:
          schema:
            $ref: '#/components/schemas/GenericErrorResponseInPlainText'
    UnprocessableEntity:
      title: Unprocessable Entity
      summary: 422 Unprocessable Entity
      description:
        Unprocessable Entity.
        The request body did not contain a valid record.
        See the requestBody field on this path/method combination for specification.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericErrorResponseInJson'
        text/plain:
          schema:
            $ref: '#/components/schemas/GenericErrorResponseInPlainText'
    InternalServerError:
      title: Internal Server Error
      summary: 500 Internal server error
      description:
        Internal Server Error.
        A generic response indicating, that an unexpected error occurred.
        This may be due to a bug in the server or a temporary issue.
        HTTP Status Code 500
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericErrorResponseInJson'

paths:
  /records:
    get:
      summary: Get records
      operationId: getRecords
      description: Get records from the database
      tags: [Records]
      parameters:
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Range'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
      responses:
        '200':
          description: A list of records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Add a record
      operationId: addRecord
      description: Add a record to the database
      tags: [Records]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
      responses:
        '201':
          description: The record was added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddRecordResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /records/{record_id}:
    parameters:
      - name: record_id
        in: path
        description: Unique record identifier
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get a record by id
      operationId: getRecordById
      description: Get a record by its identifier
      tags: [Records]
      responses:
        '200':
          description: The record was found and returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

tags:
  - name: Records
    description: Sensor readings with timestamps and unique identifiers